[submodule "p_api/flask"]
	path = p_api/flask
	url = https://github.com/mitsuhiko/flask.git
[submodule "p_api/flask-oauthlib"]
	path = p_api/flask-oauthlib
	url = https://github.com/lepture/flask-oauthlib.git
